//아이템 설명 컨포넌트
.item-manual {
  display: block; //다른 css속성 영향 안받게 설정.
  text-align: center;

  .item-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.06;
    color: #fff;
    margin-top: 32px;
  }
  .item-subtitle {
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    color: rgba(#fff, 0.5);
    margin-top: 6px;
  }
  .item-title + .item-subtitle {
    margin-top: 4px;
  }

  .item-detail-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 32px auto 0;
    list-style: none;
    width: 100%;
    min-height: 56px;
    //overflow: auto; //스크롤이 맞는지 모르겠음.

    li {
      flex: 1;
      border-left: 1px solid rgba(#fff, 0.1);
      //padding: 0 16px;
      padding: 0 8px; //가로스크롤 발생방지 /팝업에도 사용되어서 간격을 줄임.

      &:first-of-type {
        border-left: 0;
      }
      &:last-of-type {
      }
      span,
      strong {
        display: block;
        text-align: center;
        &.ico-draco {
          display: inline-block;
          text-align: left;
        }
      }
      span {
        font-size: 12px;
        font-weight: normal;
        line-height: normal;
        color: rgba(#fff, 0.5);
      }
      strong {
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.18px;
        margin-top: 6px;
        color: #fff;

        &.legendary,
        &.grade-5 {
          color: var(--color-legendary);
        }
        &.epic,
        &.grade-4 {
          color: var(--color-epic);
        }
        &.rare,
        &.grade-3 {
          color: var(--color-rare);
        }
        &.uncommon,
        &.grade-2 {
          color: var(--color-uncommon);
        }
      }
      &.enhance,
      &.tire {
        text-align: center;
        strong {
          font-size: 24px;
          line-height: 1;
          letter-spacing: -0.48px;
        }
      }
      &.price,
      &.rank {
        //text-align: left;
        //padding: 0 8px;
        span,
        strong {
          //text-align: left;
        }
      }
      &.sncode {
        margin-top: 0;
        span,
        strong {
          //text-align: left;
        }
      }
    }
  }
  .sncode {
    margin-top: 32px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: center;
  }
  .description {
    margin-top: 32px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: rgba(#fff, 0.6);
    text-align: left;
  }
}
