// myNFTs
.wrap-my-mirage {
  color: #fff;

  .tab-rounds {
    &.theme--light {
      margin-bottom: 16px;
    }
  }
  
  .theme--light {
    &.v-tabs-items {
      overflow: visible;
      background-color: transparent;
    }
  }

  .v-tabs-slider {
    background-color: #f40;
  }

  .no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    padding: 120px 0;

    .desc {
      display: flex;
      flex-direction: column;
      text-align: center;

      > em {
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
        color: #fff;
      }

      > span {
        margin-top: 8px;
        font-size: 14px;
        line-height: 1.43;
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .btn-primary {
      height: 48px;
      min-width: 200px;
      font-size: 16px;
    }
  }

  .list-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    margin-top: 64px;
    margin-bottom: 16px;
    
    .section-title {
      margin-bottom: 0;
      padding-right: 10px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .tab-grade {
      flex: none;
      width: auto;

      .v-tab {
        color: rgba(255, 255, 255, 0.5) !important;
        padding: 0;
        min-width: auto;
        text-transform: none;
        letter-spacing: normal;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: normal;

        &--active {
          color: #fff !important;
        }
      }
      .v-slide-group__content {
        column-gap: 32px;
      }
      .v-tabs-bar {
        height: 28px;
      }
      .v-tabs-slider-wrapper {
        height: 1px !important;
      }
    }
  }

  .section-title {
    font-size: 20px;
    line-height: normal;
  }

  .wrap-button {
    margin-top: 32px;

    .btn-viewmore {
      @include btn-viewmore($width: 100%);
    }
  }

  .util-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 24px;
    // margin-bottom: 16px;
    margin-bottom: 32px;
    font-size: 14px;

    .summary {
      font-weight: bold;
      padding-right: 8px;

      em {
        color: #ffec44;
      }
    }
    .list-ordering {
      .v-input__append-inner {
        padding-left: 0;
        .v-input__icon {
          justify-content: flex-end;
        }
      }
    }
    .function {
      padding: 0;
      line-height: 24px;
    }
  }
  .list-card-nft { // NFT 카드 명단
    display: flex;
    flex-wrap: wrap;
    gap: 24px 16px;
    padding-left: 0;
    list-style-type: none;

    > li {
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: 212px;

      &[aria-disabled="true"] {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 312px;
          background-color: rgba(#000, .5);
        }
        .wrap-button {
          .btn:disabled {
            color: rgba(#fff, .5);
            font-weight: 400;
            background-color: rgba(#fff, .05);
          }
        }
      }
    }
    .wrap-button {
      display: flex;
      margin-top: 12px;

      .btn {
        flex: 1;

        &-primary-mirage {
          border-style: solid;
          border-width: 1px;
          border-image-source: linear-gradient(to bottom, #dd714e 0%, #620 100%);
          border-image-slice: 1;
          background-image: linear-gradient(to right, #620 0%, #f40 51%, #620 100%);
        }
      }
    }
    &.recommend {
      row-gap: 32px;
    }
  }
  .list-mirage-roster { // 캐릭터 선수명단
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    padding: 0 !important;
    list-style: none;
  
    li {
      margin-left: -1px;

      .mirage-character {
        z-index: 0;
      }
    }
  }
}
