.myitem-list {
  .theme--light.v-tabs-items {
    background: none;
  }

  .v-tabs.tab-rounds {
    position: sticky;
    top: var(--navdsp-height);
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #020219;
    margin: 0 calc(-1 * var(--intro-draco-padding));
    width: calc(100% + (var(--intro-draco-padding) * 2));

    .v-tabs-bar {
      .v-tab {
        justify-content: center;
        padding: 0 8px;
        background-color: rgba(#fff, 0.1);
        color: rgba(#fff, 0.4);

        &:last-of-type {
          margin-right: 0;
        }

        &::before,
        &::after {
          content: none;
        }

        &.v-tab--active {
          background-color: #310058;
          font-weight: 700;
          color: #fff;
        }
      }
    }
  }

  //common
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  //mobile에는 _select-filter.scss가 없음.
  //임시로 이곳에 복사해둠.
  .select-filter.v-select {
    --select-font-color: #fff;
    --select-font-size: 14px;
    --select-height: 40px;

    flex: initial;
    position: relative;
    border-radius: 0;
    height: var(--select-height);
    color: var(--select-font-color);
    font-size: var(--select-font-size);
    box-sizing: border-box;

    .v-select__selections {
      color: inherit;

      > input[type='text'] {
        padding-bottom: 10px;

        &:placeholder-shown {
          // width: 62px;
          width: 58px;
        }

        &::placeholder {
          color: inherit;
        }
      }

      .v-select__selection--comma {
        margin: -1px 0 0;
      }
    }

    .v-input__control {
      // @include box-filter-style;
      height: 100%;

      fieldset {
        border-width: 0;
      }

      .v-input__slot[role='button'] {
        padding-right: 6px;
      }
    }

    .v-input__icon {
      .v-icon {
        width: 16px;
        height: 16px;
        font-size: 0;
        background: url('~@/assets/img/ico-select-filter.webp') 50% 50% / contain no-repeat;

        &::before,
        &::after {
          content: none;
        }
      }
    }

    // 메뉴 팝업
    .v-menu__content {
      left: -1px !important;
      margin-top: 8px;
      max-width: initial;
      min-width: calc(100% + 2px) !important;
      color: inherit;
      @include box-filter-style;

      .v-select-list {
        color: inherit;
        background-color: inherit;

        .v-list-item {
          margin-top: 10px;
          color: inherit;
          font-size: calc(var(--select-font-size) + 2px);

          &:first-of-type {
            margin-top: 0;
          }
        }

        .v-list-item__title {
          font-size: inherit;
          font-weight: 700;
          overflow: visible;
          text-overflow: initial;
        }
      }
    }

    // 값이 선택된 후
    &.v-input--is-dirty {
      .v-select__selections {
        > input[type='text'] {
          width: 0;
        }

        .v-select__selection--comma {
          overflow: visible;
          text-overflow: initial;
        }
      }
    }

    // 정렬 스타일
    &.orderby {
      margin-left: auto;

      .v-input__icon {
        .v-icon {
          background: url('~@/assets/img/ico-select-order.webp') 50% 50% / contain no-repeat;
        }
      }

      .v-input__control {
        .v-input__slot {
          padding-right: 0;
        }
      }

      &.v-select--is-menu-active {
        .v-icon {
          transform: none;
        }
      }
    }

    // '정렬 스타일'이 아닌경우
    &:not(.orderby) {
      .v-input__control {
        @include box-filter-style;
      }
    }
  }

  //1120. mobile에서 'SelectOrder' components쪽 라이브러리'v-input__control'이슈로 스크롤발생.
  //기존 SelectOrder overload.
  .select-filter.v-select {
    .v-input__control {
      flex-direction: row; //기본라이브러리가 column으로 되어있음.
      .v-text-field__details {
        display: none; //필요시에 삭제 v-messages표시용.
      }
    }

    .v-menu__content {
      left: -18px !important;
      margin-top: 0;
    }
  }

  .tab-soldout {
    .list-myitem {
      > li {
        margin-top: 16px;
      }
    }
  }

  .list-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    height: 40px;

    &__title {
      font-size: 14px;
      font-weight: 700;
      color: #fff;

      em {
        color: #a0f;
        margin-right: 2px;
      }
    }

    //.btn-sort //과장님것으로 복붙.
  }

  .list-myitem {
    > li {
      position: relative;
      border-bottom: 1px solid rgba(#fff, 0.15);
      padding: 16px 0;

      .item-info {
        .by-what{
          &.draco {
            width: 16px;
            height: 16px;
          }

          &.draco-nft {
            width: 27px;
            height: 16px;
          }
        }
      }

      .btn-open-dialog {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .list-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
  }

  .wrap-button {
    margin-top: 16px;

    .btn-viewmore {
      width: 100%;
      min-height: 48px;
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
      color: #fff;
      background-color: rgba(#fff, 0.05);
    }
  }

  .not-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 291px;
    padding-top: 24px;
    text-align: center;

    p {
      font-size: 14px;
      line-height: 20px;
      color: #999;
    }

    .bottom-btns {
      margin-top: 16px;

      a {
        display: block;
        position: relative;
        height: 35px;
        line-height: 35px;
        padding: 0 24px 0 107px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 99px;
          height: 35px;
          background: url("~@/assets/img/desktop/mywarehouse/logo.webp") 50% 50% /
            cover no-repeat;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 6px;
          right: 0;
          width: 20px;
          height: 20px;
          background: url("~@/assets/img/desktop/mywarehouse/icon-link.webp") 50% 50% / cover no-repeat;
        }
      }
    }
  }
}

#wrapFilterList {
  .v-menu__content {
    width: calc(100% - (var(--intro-draco-padding) * 2));
    max-width: 540px;
  }
}
