.myitem-list {
  .theme--light.v-tabs-items {
    background: none;
  }
  .tab-rounds.theme--light {
    margin: 0 0 24px;
  }

  .tab-rounds {
    //position: sticky;
    //top: 0;
  }

  //common
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .tab-soldout {
    .list-myitem {
      > li {
        margin-top: 16px;
      }
    }
  }

  .list-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #020219;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    height: 40px;

    &__title {
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      em {
        color: #a0f;
        margin-left: 4px;
      }
    }
  }

  .list-myitem {
    > li {
      position: relative;
      border-bottom: 1px solid rgba(#fff, 0.15);
      padding: 18px 0;
      &:first-of-type {
        margin-top: 0;
      }
      &:hover {
        background: rgba(#fff, 0.05);
      }
      &.wait {
        //클릭방지.
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
        .myitem {
          opacity: 0.4;
        }
      }
    }
  }

  .list-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
  }

  .wrap-button {
    margin-top: 24px;

    .btn-viewmore {
      @include btn-viewmore($width: 100%);
    }
  }

  // UX 팀 요청으로 _mywarehouse.scss 에 있는 부분 추가
  .not-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 291px;
    padding-top: 24px;
    text-align: center;

    p {
      font-size: 14px;
      line-height: 20px;
      color: #999999;
    }
    .bottom-btns {
      margin-top: 16px;
      a {
        display: block;
        position: relative;
        height: 35px;
        line-height: 35px;
        padding: 0 24px 0 107px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 99px;
          height: 35px;
          background: url("~@/assets/img/desktop/mywarehouse/logo.webp") 50% 50% /
            cover no-repeat;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 6px;
          right: 0;
          width: 20px;
          height: 20px;
          background: url("~@/assets/img/desktop/mywarehouse/icon-link.webp")
          50% 50% / cover no-repeat;
        }
      }
    }
  }
}
