:root {
  --header-height: 72px;
  --navdsp-height: 100px;
  --bg-header: #000;
  --bg-container: #111122;
  --content-color: #ffffff80; // rgba(#fff, .5)
  --section-inner-width: 960px;
  --gutter-width: 200px;
}