@keyframes row1 {
  0% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: calc(50% + 9999px);
  }
}

@keyframes row2 {
  0% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: calc(50% - 9999px);
  }
}