:root {
  --bg-container: #020219;
  --navdsp-height: 54px;
  --navexd-height: 54px;
  // --intro-draco-padding: clamp(24px, 8vw, 36px);
  --intro-draco-padding: 15px;
  --intro-draco-maxwidth: 670px; //540->640. 21.10.28 playbook.
  --notification-global-height: 96px;
  --content-color: #ffffff80; // rgba(#fff, .5)
  --point-color: #a0f; //point-color pupple
  --color-exd: #ffdd00;
  --color-hsp: #0044ff;

  //아이템타입 포인트컬러
  --color-epic: #ff002e;
  --color-legendary: #ffff00;
  --color-rare: #3391ff;
  --color-uncommon: #00b267;

  --section-padding-x: 24px;
  --coin-section-inner-width: 640px;

  --intro-draco-float-height: clamp(96px, 96px, 96px);
}
