// 서비스 되지 않으며 작업자를 위한 class입니다.

.linktitle {
  margin: 40px 0 10px;
  line-height: 1;
  font-size: 40px;
  color: #fff;
  opacity: 1;

  &:first-of-type {
    margin-top: 0;
  }
  &.smaller {
    margin-top: 24px;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 500;
  }
}
.ui-wrap-button {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  align-items: flex-start;

  .btn {
    margin-top: 10px;
    
    &:first-of-type {
      margin-top: 0;
    }
  }
}

// for PopupRounds.vue
.popup-rounds-sample {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; //DSPROUNDS_1600px zeplin width size.
  padding: 8px;
  background-color: rgba(#fff, 0.1);
}
.popup-rounds-sample .round-number {
  margin-left: auto;
}

.link-popup {
  display: block;
  padding: 3px 0;
  font-size: 12px;
  color: rgba(#fff, .7);
}